<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>Log in page</title>
</head>

<body>
    <form action="/log_in" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="log in">
    </form>
    <form action="/create_account">
        <button type="submit">Create account</button>

    </form>



</body>






</html>